@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@300;400;700&display=swap");

/* //////// GLOBAL //////// */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f3f3f3;
  color: #353535;
  font-family: "Roboto", sans-serif;
}

a,
button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
  }
}

/* //////// BUTTON //////// */

.btn-primary-navbar {
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #e8505b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  margin-left: 16px;
}

.btn-primary-navbar:hover {
  background-color: #e8505ad8;
}

.btn-primary {
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  padding: 12px 48px;
  background-color: #e8505b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.btn-primary:hover {
  background-color: #e8505ad8;
}

.btn-yellow {
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  padding: 12px 48px;
  background-color: #f7b05b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.btn-yellow:hover {
  background-color: #f7b15bd7;
}

.btn-blue {
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  padding: 12px 48px;
  background-color: #2292a4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.btn-blue:hover {
  background-color: #2293a4d8;
}

.btn-tab-active {
  background-color: #525252;
  opacity: 0.8;
  transform: translateY(10px);
}

.btn-tab-active:hover {
  background-color: #525252;
  opacity: 0.6;
}

/* //////// NAVBAR //////// */

.div-navbar {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  font-size: 20px;
}

nav .nav-logo {
  font-size: 22px;
  font-weight: bolder;
}

nav a {
  color: rgb(63, 63, 63);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  border-radius: 4px;
  padding: 4px 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

nav ul * {
  margin-left: 6px;
}

nav ul li:hover {
  background-color: rgb(236, 236, 236);
}

/* //////// MODAL //////// */

.modal-section {
  display: none;
}

.modal-section-active {
  display: block;
}

.modal-close-btn {
  font-family: "Roboto", sans-serif;
  position: absolute;
  font-size: 32px;
  margin-left: 85%;
  margin-top: 8px;
  cursor: pointer;
  padding: 0 4px;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 400px;
  min-height: 480px;
  border-radius: 5px;
  overflow: hidden;
}

.signin-content {
  position: absolute;
  transform: translateX(-150%);
  opacity: 0;
  transition: all 1s ease;
}

.signup-content {
  position: absolute;
  transform: translateX(150%);
  opacity: 0;
  transition: all 1s ease;
}

.modal-content-active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
}

.modal h1 {
  font-size: 44px;
  margin: 52px 0 18px 0;
}

.modal form .txt_field {
  position: relative;
  border-bottom: 2px solid #525252b4;
  margin: 30px 0;
}

.modal form .txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: none;
  outline: none;
}

.modal form .txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
  color: #5252528a;
}

.modal form .txt_field.focus label {
  top: -5px;
  color: #525252;
}

.modal a {
  color: #525252;
  text-decoration: underline;
  font-size: 14px;
  margin: 80px 0;
  transition: all 0.2s ease;
}

.modal button {
  margin-bottom: 10px;
}

.modal a:hover {
  color: #525252ce;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

/* //////// BUNNER //////// */

.banner {
  min-height: 600px;
  padding-top: 80px;
}

.banner .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner .info-text-banner {
  display: block;
  margin: auto;
}

.banner .banner-illustration {
  display: flex;
  justify-content: right;
  align-items: center;
}

.banner .banner-illustration img {
  max-width: 550px;
}

.banner .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner h1 {
  margin: 0;
  color: #525252;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.banner p {
  font-size: 20px;
  color: #525252;
  opacity: 0.7;
  margin-bottom: 16px;
}

@media (max-width: 1000px) {
  .banner {
    margin-bottom: 40px;
  }
  .banner .info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .banner .info-text-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 30px;
  }

  .banner .banner-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
  }

  .banner .banner-illustration img {
    max-width: 400px;
    /* background-color: pink; */
  }
}

/* //////// COUNTER //////// */

.counter-card {
  background-color: #ebebeb;
  color: rgb(68, 68, 68);
  padding: 40px 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 0 0 0;
}

.counter-card > div {
  padding: 0 15px;
}

.counter-card span {
  font-size: 72px;
}

@media (max-width: 700px) {
  .counter-card span {
    font-size: 40px;
  }

  .counter-card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .counter-card p {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .counter-card {
    flex-direction: column;
  }

  .counter-card .card-content:nth-child(-n + 2) {
    margin-bottom: 25px;
  }

  .counter-card span {
    font-size: 58px;
  }
}

/* //////// CONTACT  //////// */

.section-contact {
  display: flex;
  align-items: center;
  margin-top: 160px;
  background-color: #ebebeb;
  min-height: 550px;
}

.section-contact img {
  max-width: 550px;
}

.section-contact .contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-contact .contact-content .contact-content-text {
  display: block;
  margin: auto;
}

.section-contact .contact-content h2 {
  margin: 0;
  color: #525252;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media (max-width: 1000px) {
  .section-contact {
    min-height: 700px;
  }
  .section-contact .contact-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-contact .contact-content .contact-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    margin: 30px;
  }

  .banner .banner-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
  }

  .banner .banner-illustration img {
    max-width: 400px;
    /* background-color: pink; */
  }
}

/* //////// TABS  //////// */

.section-tabs {
  border-top: solid 1px rgb(180, 180, 180);
  margin: 200px 0 0 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.section-tabs .tabs .section-title {
  margin: 140px 0 0 0;
  padding: 0 150px;
}

.section-tabs .tabs .section-title h5 {
  font-size: 44px;
}

.section-tabs .tabs .section-title span {
  color: #e8505b;
}

.section-tabs .tabs .tabs-btns {
  margin: 100px 0 20px 0;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.section-tabs .tabs-content {
  background-color: #ebebeb;
  color: rgb(68, 68, 68);
  min-height: 120px;
  padding: 80px 140px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.section-tabs .tabs-content span {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}

.section-tabs .tabs-content p {
  font-size: 18px;
  margin-top: 16px;
  line-height: 1.6;
}

.section-tabs .tabs-content .content-tab {
  position: absolute;
  transition: all 1s ease;
  width: 80%;
  transform: translateX(-80%);
  opacity: 0;
}
.section-tabs .tabs-content .content-active {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

/* //////// REVEAL  //////// */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
